@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');

:root{
    --pictionAppWidth : 380px;
}
body{
    text-align: center;
    background: url('./interface/bg-circuit.svg');
    background-size: cover;
    background-color: rgb(7, 6, 30);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}
#logo{height: 111px; margin: 1em;}
.input{text-align: center; background-color: rgba(255, 255, 255, 0.1) !important; color: white !important; --placeholder: white;}
.promptUser::placeholder{color: lightgrey; opacity: 1; font-weight: bold;}
.btn{
    background-color: #04F2FF;
    font-weight: bolder;
    color: white;
}
.btn:hover{
    background-color: rgb(221,148,164);
    font-weight: bolder;
}

#jouer, #nouvellePartie, #questionSuivante, #myResult{
    width: 100%;
    border-radius: 2em;
    border: none;
    background: linear-gradient(to bottom, #04f2ff 5%, #57b5be 100%);
    background-image: url("../assets/interface/bg-button.webp");
    box-shadow: 4px 6px 0px -4px #F28D8B, 0px 0px 7px 0px #000000;
    text-shadow:0px 1px 8px #238087;
}
#jouer:hover, #nouvellePartie:hover, #questionSuivante:hover, #myResult:hover{
    color: #fff;
    background: linear-gradient(to bottom, #09e2ed 5%, #54a4ac 100%);
    background-image: url("../assets/interface/bg-button.webp");
    background-position-y: 136px;
}

#nouvellePartie{
    width: 25%;
}

#questionSuivante, #myResult{
    width: 72%;
    text-shadow: 1px 1px grey;
    margin: 1em 1em 1em 0;
    text-align: right;
    float: right;
    font-size: 1em;
    text-align: center;
}
#myResult{
    width: 40%;
}
.cleared{clear: both;}

@media screen and (max-width: 540px) {
    #logo{
        height:auto;
    }
    #nouvellePartie{
        width: 100%;
    }
    #questionSuivante{
        width: 90%;
    }
    #myResult{
        width: 90%;
    }
}